html {
  height: 100%;
  width: 100%;
}
body{
  background-color: black;
  height: 100%;
  width: 100%;
}

.circulo {
  height: 420px;
  width: 420px;
  border-radius: 100%;
  border: dashed 2px white;
  margin: auto;
  animation-name: girar;
  animation-duration: 20s;
  animation-iteration-count: infinite;

}

#interior1 {

  margin-top: 25%;
  height: 210px;
  width: 210px;
  border-radius: 100%;
  border: dashed 2px white;
  margin-left:  25%;
  animation-name: girar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

#interior2 {

  margin-top: 32%;
  height: 70px;
  width: 70px;
  border-radius: 100%;
  border: dashed 2px white;
  margin-left:  32%;
  animation-name: girar;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
@keyframes girar{

    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(520deg);
    }
}
